{% extends "core/email_base.html" %}
{% load i18n %}
{% load utils %}
{% block body %}
{% get_display_name_short member_infos as display_name_short %}

<p>Olá {{ display_name_short }},</p>

<p>O Tapir reparou que ainda não te inscreveste num turno neste ciclo semanal 👀.</p>

<p>Como membro flex, és tu quem escolhe um turno a cada 4 semanas.</p>

<p>
    Dá uma espreitadela ao <a href="https://turnos.rizomacoop.pt/shifts/calendar">calendário de turnos no Tapir</a>
    e inscreve-te num dos turnos vazios — se puderes, escolhe um dos turnos mais urgentes 💪
</p>

<p>Vale a pena consultar o calendário regularmente, porque surgem novas vagas com frequência! 😉</p>

<p>
    Podes consultar o <a href="https://docs.google.com/document/d/1BxEWHsJ2y6o3c4z7a-ShwRXMXdQwx_BPOIfVB3igvwg/edit?usp=drive_link">Manual de Membros da Secção Consumo</a>
    para mais detalhes.
</p>

<p>Saudações rizomáticas 💚</p>

<p><em>Esta é uma mensagem automática do GTT-Membros.</em></p>

<hr />

<p>Hi {{ display_name_short }},</p>

<p>Tapir noticed that you haven't signed up for a shift in this cycle yet 👀</p>

<p>As a flex member, it's up to you to choose a shift every 4 weeks.</p>

<p>
    Have a look at the <a href="https://turnos.rizomacoop.pt/shifts/calendar">shift calendar on Tapir</a>
    and sign up for one of the empty shifts — if you can, choose one of the more urgent ones 💪
</p>

<p>It's worth checking the calendar regularly, as new openings appear frequently 😉</p>

<p>
    You can check <a href="https://docs.google.com/document/d/1BxEWHsJ2y6o3c4z7a-ShwRXMXdQwx_BPOIfVB3igvwg/edit?usp=drive_link">Consumo Members' Manual</a>
    for more details.
</p>

<p>Rizomatic greetings 💚</p>

<p><em>This is an automatic message from GTT-Membros.</em></p>

{% endblock body %}
