{% extends "core/email_base.html" %}
{% load i18n %}
{% load utils %}
{% block body %}
{% get_display_name_short tapir_user as display_name_short %}

<p>Olá {{ display_name_short }},</p>

<p>Antes de mais, esperamos que esteja tudo bem contigo! 🌿</p>

<p>
    O Tapir disse-nos que não vieste ao turno para o qual estavas inscrite: <strong>{{ shift.get_display_name }}</strong>
</p>

<p>Às vezes o Tapir faz erros. Se foi esse o caso, por favor responde a este email.</p>

<p>
    Imprevistos acontecem. No entanto, sabias que cancelar o teu turno no <a href="https://turnos.rizomacoop.pt/">Tapir</a>
    é super fácil? Podes fazê-lo até 24 horas antes do início do teu turno.
</p>

<p>
    A Rizoma depende da participação ativa de todas as pessoas cooperantes. Por isso, sugerimos que tentes sempre
    encontrar um rizomi que te possa substituir.
</p>

<p>Não encontraste ninguém? Avisa os teus companheiros de turno!</p>

<p>
    Não te esqueças de compensar o teu turno em breve para mantermos a roda rizomática a girar 💚. Se acumulares 3
    turnos em falta (-4 pontos), o teu direito de compra será suspenso 😱
</p>

<p>
    Podes consultar o <a href="https://docs.google.com/document/d/1BxEWHsJ2y6o3c4z7a-ShwRXMXdQwx_BPOIfVB3igvwg/edit?usp=drive_link">Manual de Membros da Secção Consumo</a>
    para mais detalhes.
</p>

<p>Saudações rizomáticas 💚</p>

<p><em>Esta é uma mensagem automática do GTT-Membros.</em></p>

<hr />

<p>Hi {{ display_name_short }},</p>

<p>First of all, we hope you're doing well! 🌿</p>

<p>
    Tapir let us know that you didn't show up for the shift you had signed up for:
    <strong>{{ shift.get_display_name }}</strong>
</p>

<p>Sometimes Tapir makes mistakes though. If that's the case, just reply to this email and let us know.</p>

<p>
    We totally understand that unexpected things come up. That said, did you know it's super easy to cancel your shift
    on <a href="https://turnos.rizomacoop.pt/">Tapir</a>? You can do it up to 24 hours before your shift starts.
</p>

<p>
    Rizoma depends on everyone's active participation, so we always suggest trying to find a fellow Rizomi to cover
    for you.
</p>

<p>Couldn't find anyone? Just give your shift teammates a heads-up!</p>

<p>
    Don't forget to make up for your missed shift soon so we can keep the Rizoma wheel turning 💚. If you miss 3
    shifts (–4 points), your shopping access will be suspended 😱
</p>

<p>
    You can check the <a href="https://docs.google.com/document/d/1BxEWHsJ2y6o3c4z7a-ShwRXMXdQwx_BPOIfVB3igvwg/edit?usp=drive_link">Consumo Members' Manual</a>
    for more details.
</p>

<p>Rizomatic greetings 💚</p>

<p><em>This is an automatic message from GTT-Membros.</em></p>

{% endblock body %}
