{% extends "core/email_base.html" %}
{% load i18n %}
{% load utils %}
{% block body %}
{% get_display_name_short member_infos as display_name_short %}

<p>Olá {{ display_name_short }},</p>

<p>
    O Tapir pediu-nos para te lembrar do teu próximo turno: <strong>{{ shift.get_display_name }}</strong>
</p>

<p>
    Não consegues estar presente? Cancela o teu turno assim que puderes através da
    <a href="https://turnos.rizomacoop.pt/shifts/dashboard">plataforma de gestão de turno Tapir</a>
    para que outra pessoa o possa assumir. Se tiveres dúvidas sobre como fazê-lo, consulta o
    <a href="https://docs.google.com/document/d/1BxEWHsJ2y6o3c4z7a-ShwRXMXdQwx_BPOIfVB3igvwg/edit?usp=drive_link">Manual de Membros da Secção Consumo</a>.
</p>

<p>
    Na plataforma também podes ver quem são os Rizomis que vão fazer o turno contigo. Podes ainda aproveitar para
    reler os <a href="https://docs.google.com/document/d/1n2gnmg8ldA0U811ac3Sabzk4Hx5TlUST/edit">Manuais de Turno</a>
    e sugerir melhorias 💡.
</p>

<p>Obrigada por ajudares a manter a roda rizomática a girar 🌿</p>
<p>Saudações rizomáticas 💚</p>
<p><em>Esta é uma mensagem automática do GTT-Membros.</em></p>

<hr />

<p>Hi {{ display_name_short }},</p>

<p>
    Tapir asked us to remind you about your upcoming shift: <strong>{{ shift.get_display_name }}</strong>
</p>

<p>
    Can't make it? Please cancel your shift as soon as you can on
    <a href="https://turnos.rizomacoop.pt/shifts/dashboard">Tapir</a>
    so someone else can take it. If you're not sure how to do it, check the
    <a href="https://docs.google.com/document/d/1BxEWHsJ2y6o3c4z7a-ShwRXMXdQwx_BPOIfVB3igvwg/edit?usp=drive_link">Consumo Members' Manual</a>.
</p>

<p>
    On the platform, you can also see which fellow Rizomis will be on shift with you. It's also a good opportunity
    to revisit the <a href="https://docs.google.com/document/d/1n2gnmg8ldA0U811ac3Sabzk4Hx5TlUST/edit">Shift Manuals</a>
    — and even suggest improvements 💡
</p>

<p>Thanks for helping keep the Rizoma wheel turning 🌿</p>
<p>Rizomatic greetings 💚</p>
<p><em>This is an automatic message from GTT-Membros.</em></p>

{% endblock body %}
